<nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-between items-center ">
        <a href="/" class="text-white hover:underline"><img src="/public/src/imgs/logo.png" alt="Logo" class="max-w-auto max-h-auto mr-2" style="height: 120px"></a>
        <ul class="flex space-x-4">
            <!-- <li><a href="/about" class="text-white hover:underline"><button class="bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">About</button></a></li> -->
            <li><a href="/contact" class="text-white hover:underline"><button class="bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Contact</button></a></li>
        </ul>
    </div>
</nav>