<div class="fixed bottom-5 right-5 bg-green-500 rounded-full p-4 shadow-lg hover:bg-green-600 transition duration-300">
    <a href="https://wa.me/+5512988844068" target="_blank">
        <i class="fab fa-whatsapp text-white w-6 h-6"></i>
    </a>
</div>
<div class="fixed bottom-16 right-5 bg-pink-500 rounded-full p-4 shadow-lg hover:bg-pink-600 transition duration-300"></div>
    <a href="https://www.instagram.com/champiao_cloud_solutions" target="_blank">
        <i class="fab fa-instagram text-white w-6 h-6"></i>
    </a>
</div>
<div class="fixed bottom-24 right-5 bg-blue-500 rounded-full p-4 shadow-lg hover:bg-blue-600 transition duration-300"></div>
    <a href="https://www.linkedin.com/company/champiao-cloud/" target="_blank">
        <i class="fab fa-linkedin-in text-white w-6 h-6"></i>
    </a>
</div>