<div class="fixed bottom-1 right-5 bg-green-500 rounded-full p-4 shadow-lg hover:bg-green-600">
    <a href="https://wa.me/+5512988844068" target="_blank">
        <i class="bi bi-whatsapp text-white w-6 h-6 text-white"></i>
    </a>
</div>
<div class="fixed bottom-16 right-5 bg-pink-500 rounded-full p-4 shadow-lg hover:bg-pink-600">
    <a href="https://www.instagram.com/champiao_cloud_solutions" target="_blank">
        <i class="bi bi-instagram text-white w-6 h-6 text-white"></i>
    </a>
</div>
<div class="fixed bottom-32 right-5 bg-blue-500 rounded-full p-4 shadow-lg hover:bg-blue-600">
    <a href="https://www.linkedin.com/company/champiao-cloud/" target="_blank">
            <i class="bi bi-linkedin text-white w-6 h-6 text-white"></i>
    </a>
</div>